.divheight{
    height:85px;
}

.heightauto{
    height: auto;
}

.bcircle{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    align-items: center;
    display:flex;
    justify-content: center;
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.start{
    display:flex;
    align-items: center;
    justify-content: start;
    align-content: center;
}

.subcontainer{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.bottomborder {
    border-bottom: 0.25px solid lightgray;
}

.card{
    width:100%;
    height:auto;
    display:flex;
    border:none;
}

.showmap{
    position:fixed;
    z-index: 200px;
    bottom: 50px;
    left:50%;
    transform:translateX(-50%);
    display: flex;
    align-items:center;
    justify-content: center;
    
}