.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divheight{
    height:85px;
}

.mainmargin{
    margin-left: 15%;
    margin-right: 15%;
}

.whiteback{
    background-color: yellowgreen;
    z-index: 200;
}

.form-control{
    border:0;
}

.w-15{
    width: 15%;
}

.w-30{
    width:30%;
}

.bg-lightgray{
    background-color: lightgray;
}

.bg-none{
    background-color: rgba(0, 0, 0, 0.3);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    max-width: 100%;
    padding: 12px 16px;
    z-index: 2000;
  }

  .worldmap{
    display:block;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 65%;
    height:100%;
    border-radius: 20px;
  }

  .worldmapB{
    display:none;
    position:absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 18%;
    right:50px;
    width: 35%;
    height:100%;
    border-radius: 20px;
  }

  .worldmapC{
    display:none;
    position:absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right:17%;
    width: 35%;
    height:100%;
    border-radius: 20px;
  }