.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divheight{
    height:85px;
}

.mainmargin{
    margin-left: 15%;
    margin-right: 15%;
}

.whiteback{
    background-color: yellowgreen;
    z-index: 200;
}

.form-control{
    border:0;
}

.w-15{
    width: 15%;
}

.w-30{
    width:30%;
}

.bg-lightgray{
    background-color: lightgray;
}