
.bttn:hover {
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(82, 81, 81, 0.25);
  color: inherit;
}

.userbut{
  position:relative;
}

.popup{
  position:absolute;
  top: 60px;
  right: 150px;
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(82, 81, 81, 0.25);
}