.multi-carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-track {
    flex: 1;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  button {
    background-color: red;
  }
  
  .arrow {
    color: yellow;
  }